body {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
    text-align: center;
}

#starthere {
    background-color: rgb(36, 32, 32);
    color: white;
}

#what {}

#how {}

#benefits {}

#lastworks img {
    width: 100%
}

#contactus {}